<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.batch.repository.OpenApiMapper">

	<insert id="food_save" parameterType="map">
        INSERT INTO TB_FOOD
   		( UC_SEQ, MAIN_TITLE, GUGUN_NM, LAT, LNG, PLACE, TITLE, SUBTITLE, ADDR1, ADDR2
   		, CNTCT_TEL, HOMEPAGE_URL, USAGE_DAY_WEEK_AND_TIME, RPRSNTV_MENU, MAIN_IMG_NORMAL
   		, MAIN_IMG_THUMB, ITEMCNTNTS, AREA)
        VALUES
        ( #{uc_seq}, #{main_title}, #{gugun_nm}, #{lat}, #{lng}, #{place}, #{title}, #{subtitle}, #{addr1}, #{addr2}
   		, #{cntct_tel}, #{homepage_url}, #{usage_day_week_and_time}, #{rprsntv_menu}, #{main_img_normal}
   		, #{main_img_thumb}, #{itemcntnts}, #{area})
    </insert>

	<delete id="food_delete" parameterType="openApiVo">
    	DELETE
    	FROM TB_FOOD
    	WHERE AREA = #{area}
    </delete>

	<insert id="attr_save" parameterType="map">
        INSERT INTO TB_ATTR
   		( UC_SEQ, MAIN_TITLE, GUGUN_NM, LAT, LNG, PLACE, TITLE, SUBTITLE, ADDR1
   		, CNTCT_TEL, HOMEPAGE_URL, TRFC_INFO, USAGE_DAY, HLDY_INFO, USAGE_DAY_WEEK_AND_TIME
   		, USAGE_AMOUNT, MIDDLE_SIZE_RM1, MAIN_IMG_NORMAL, MAIN_IMG_THUMB, ITEMCNTNTS, AREA)
        VALUES
        ( #{uc_seq}, #{main_title}, #{gugun_nm}, #{lat}, #{lng}, #{place}, #{title}, #{subtitle}, #{addr1}
   		, #{cntct_tel}, #{homepage_url}, #{trfc_info}, #{usage_day}, #{hldy_info}, #{usage_day_week_and_time}
   		, #{usage_amount}, #{middle_size_rm1}, #{main_img_normal}, #{main_img_thumb}, #{itemcntnts}, #{area} )
    </insert>

	<delete id="attr_delete" parameterType="openApiVo">
    	DELETE
    	FROM TB_ATTR
    	WHERE AREA = #{area}
    </delete>

	<insert id="place_save" parameterType="map">
        INSERT INTO TB_PLACE(AREA, GUBUN, UC_SEQ)
		VALUES( #{area}, #{gubun}, #{uc_seq})
		on DUPLICATE KEY UPDATE MODIFY_DATE = CURDATE()
    </insert>

</mapper>